# Archivos compilados de Java
*.class
*.jar

# Carpetas de salida
out/
bin/
target/

# Vaadin
frontend/generated/
node_modules/

# Archivos de IDE
.idea/
.vscode/
*.iml

# Archivos del sistema
.DS_Store
Thumbs.db

target/
*.class
*.jar
.mvn/


**/frontend/generated/
**/node_modules/
**/target/
